PORT=4173
SUPABASE_URL=https:https://ybfcldkmkajjcvznsznt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliZmNsZGtta2FqamN2em5zem50Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3MjIxMjEsImV4cCI6MjEwNTI5ODEyMX0.wtaGzj0lcEQReuS4iAIBga5v6E-EN32yWSI_RY1GGB0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliZmNsZGtta2FqamN2em5zem50Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTcyMjEyMSwiZXhwIjoyMTA1Mjk4MTIxfQ.qyfFDMLhjXbhLwVarN4Mm9OKercir087teo25qYYYjQ
ADMIN_EMAILS=adminsaab@ufc.com
SPORTSDATA_MMA_API_KEY=your-sportsdata-mma-api-key
CITO_API_KEY=your-cito-api-key
